.outter {
  width: 100%;
  height: 54px;
}
.inner:hover {
  transform: translateY(-4px);
}
.inner {
  cursor: pointer;
  transition: transform 0.2s ease-in-out 0s,
    background-color 0.2s ease-in-out 0s;
  word-break: keep-all !important;
  border-radius: 12px;
  width: 90%;
  margin: auto;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
  letter-spacing: -0.5px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height: 24px !important;
}
