.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  section {
    width: 100%;
    padding-top: 20px;
  }

  .section_image {
    text-align: center;
    img {
      width: 80%;
    }
  }
  .section_body {
    flex: 1;
    width: 100%;
    padding-top: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    display: flex;
    .result_inner {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      padding-right: 20px;

      .mainTitle {
        @media (max-width: 500px) {
          font-size: 1.8rem;
        }
        @media (min-width: 501px) {
          font-size: 2.2rem;
        }
        font-weight: bold;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid rgb(240, 240, 240);
      }
      .summary {
        @media (max-width: 500px) {
          font-size: 1rem;
        }
        @media (min-width: 501px) {
          font-size: 1.2rem;
        }
        white-space: pre-line;
        word-break: keep-all;
        margin-bottom: 25px;
      }
      .descript_wrapper {
        padding-top: 20px;
        flex: 1;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 60px;

        @media (max-width: 500px) {
          font-size: 0.9rem;
        }
        @media (min-width: 501px) {
          font-size: 1rem;
        }

        .descript_item {
          text-align: center;
          .item_title {
            font-size: 1.2rem;
            margin-bottom: 20px;
          }
          .descript {
            display: flex;
            flex-direction: column;
            gap: 10px;
            white-space: pre-line;
            word-break: keep-all;
            font-family: "gpgothic";
          }
        }
        margin-bottom: 30px;
      }

      .cta {
        display: flex;
        justify-content: center;
        div {
          flex: 1;
        }
      }
      .footer {
        margin-bottom: 30px;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
        gap: 10px;

        img {
          width: 30px;
        }
      }
    }
  }
}
