.container > div {
  margin-bottom: 15px;
}
.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .QuizCount {
    position: relative;
    height: 38px;
    width: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 1000;
    perspective: 1000;
    transform: translate3D(0, 0, 0);
    -webkit-font-smoothing: subpixel-antialiased;
    .text {
      text-align: center;
      transition: color 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
      font-weight: bold;
      font-size: 35px;
    }
    margin-bottom: 30px;
  }
  .QuizText {
    .text {
      display: block;
      right: 0px;
      left: 0px;
      top: 0px;
      bottom: 0px;
      margin: auto;
      height: auto;
      text-align: center;
      padding: 0 15px;
      word-wrap: normal;
      word-break: normal;
      white-space: pre-line;
      overflow: hidden;
      line-height: 24px;
      outline: none;
      transition: border 0.2s ease;
      font-size: 20px;
      font-weight: normal;
    }
  }
}
