@font-face {
  font-family: "katuri";
  src: url("./fonts/Katuri.ttf");
}
@font-face {
  font-family: "gpgothic";
  src: url("./fonts/gpgothic.ttf");
}

body {
  font-family: "katuri";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  font-family: "katuri";
  flex: 1;
  margin: 0px auto;
  background-color: white;

  max-width: 600px;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#root > div {
  flex: 1;
}

:root {
  --primary: rgb(255, 153, 204);
  --bg: rgb(251, 244, 247);
}
