@font-face {
  font-family: "gmarket";
  src: url("./fonts/GmarketSansTTFBold.ttf");
}
@font-face {
  font-family: "dotum";
  src: url("./fonts/KoPubWorld\ Dotum_Pro\ Bold.otf");
}

body {
  font-family: "gmarket";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  flex: 1;
  margin: 0px auto;
  background-color: white;

  max-width: 600px;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#root > div {
  flex: 1;
}

:root {
  --primary: rgb(30, 43, 107);
}
